.heading-primary {
  font-size: $size-300;
  color: $clr-neutral-400;
  line-height: 1.1;
}

.heading-secondary {
  font-size: $size-200;
  font-weight: $fw-medium;
  color: $clr-primary;
  line-height: 1;
}

.heading-tertiary--white {
  color: $clr-neutral-100;
  font-size: $size-150;
  font-weight: $fw-medium;
}

.heading-tertiary--black {
  color: $clr-neutral-400;
  font-size: $size-125;
  margin-block: $size-100;
}
