$padding-100: 20rem;

$size-100: 1rem;
$size-125: 1.5rem;
$size-150: 2rem;
$size-175: 2.5rem;
$size-200: 3rem;
$size-225: 3.5rem;
$size-250: 4rem;
$size-275: 4.5rem;
$size-300: 5rem;
$size-400: 8rem;

$clr-primary: #e9ab53;
$clr-secondary: #f15e50;

$clr-neutral-100: hsl(36, 100%, 99%);
$clr-neutral-200: hsl(233, 8%, 79%);
$clr-neutral-300: hsl(236, 13%, 42%);
$clr-neutral-400: hsl(240, 100%, 5%);

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 800;
